h1{
    border: 2px solid blue;
}
img{
    border: 2px solid red; 
}
div{
    border: 2px solid green; 
}
ul{
    margin-left: 20px;
    margin-top: -38px;
}
li{
    border: 1px solid red;
    display: inline;
    padding-left: 10px;
}